body{
    display: block;
    overflow-x: hidden;
}
.nav{
    
    color: white;
}
.navbar-brand{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
}
section{
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.heroimg{
    height: 100%;
    width: 100%;
    
}
.aboutimg{
    height: 300px;
    width: 100%;
    
}
section h1{
    text-transform: uppercase;
    font-weight: 900;
    text-align: left;
    margin-bottom: 20px;
}
section p{
    font-size: 16px;
    font-weight: 300;
}
.largebtn{
    width: 100%;
    margin-bottom: 10px;
}

.col{
   
    flex-direction: column;
    display: flex;
}
.img-col{
   
    display: flex;
    flex-wrap: wrap;
    
}
.cards{
    box-shadow: 11px 7px 16px #f9f9f9;
    border: 0;
    text-align: center;
}
#about-us{
    display: flex;
    flex-wrap: wrap;
}
#projects .projects{
    margin-bottom: 50px;
}
#contact h1{
    text-align: center;
}
#contact{
    background-color: blueviolet;
    color: #f9f9f9;
}